html{
    scroll-behavior: smooth;
}

.video-background{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-background>img{
    width: 100%;
        /* Rende il video responsive */
        height: 100%;
        /* Rende il video responsive */
        object-fit: cover;
        /* Copre l'intera area */
        margin: 0;
    
}
.titoloSopra {
    width: 700px;

    position: absolute;
    z-index: 999;
    right: 70%;
    top: 30%;
    transform: translateY(-50%);
    transform: translateX(50%);
}

.titoloSopra>h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: left;
    font-family: 'Archivo Black';
    font-weight: 900;
}

.titoloSopra>h1 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: rgb(235, 225, 18);
    font-size: 80px;
    text-align: left;
    font-family: 'Archivo Black';
    font-weight: 900;
}

.boxBianco{
    width: 400px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 65%;
    text-align: center;
    border-radius: 8px;
}

.boxBianco>h3{
    text-transform: uppercase;
    font-family: 'Archivo Black';
    font-size: 30px;
    margin: 0;
    margin-top: 50px;
}
.boxBianco>p{
    font-family: 'Oswald';
    margin: 50px;
    margin-top: 60px;
    font-size: 25px;
    line-height: 2;
    
}

.span{
    text-decoration: underline rgb(235, 225, 18);
}

.TerzaParte{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.terza{
    width: 95%;
    height: 90%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column  ;
}
.terza>h1,.terza>p{
    margin: 0;
}
.terza>h1{
    margin-top: 40px;
    text-transform: uppercase;
    font-family: 'Archivo Black';
    color: rgb(219, 219, 46);
}
.terza>p{
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Oswald';
    font-size: 24px;

}

.box{
    margin-top: 80px;
    width: 95%;
    border-right: 2px solid rgb(219, 219, 46); /* Bordo a destra */
    border-bottom: 2px solid rgb(219, 219, 46); /* Bordo in basso */
    border-left: 2px solid rgb(219, 219, 46);   /* Bordo a sinistra */
    height: 200px;
}